<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cinira Lopez | Videographer
        link(rel="stylesheet", href="./css/style.css")
    body
        header.header
            h1 Cinira Lopez
            h2 editing the best video for your music and dance project
            p 
        main.main
            nav.nav
                ul.nav-list
                    li.nav-list__item
                        button.nav-list__button(data-position="0")
                            h3.nav-list__title Erotik Dance
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
                    li.nav-list__item
                        button.nav-list__button(data-position="1")
                            h3.nav-list__title Som sem Fronteiras
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
                    li.nav-list__item
                        button.nav-list__button(data-position="2")
                            h3.nav-list__title Rhapsody Modern
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
                    li.nav-list__item
                        button.nav-list__button(data-position="3")
                            h3.nav-list__title Louise
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
                    li.nav-list__item
                        button.nav-list__button(data-position="4")
                            h3.nav-list__title Jazz on Five
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
                    li.nav-list__item
                        button.nav-list__button(data-position="5")
                            h3.nav-list__title Tap Dance
                            p.nav-list__description Erotik Dance was made in Palma de Mallorca with Triana Productions. Filming and Edition by Cinira Lopez
            section.section-base.videos
                ul.videos-list
                    li.videos-list__item(data-video="1")
                        video(muted loop src="./videos/suica_final_alta.mp4" class="videos-list__video" type="video/mp4")
                    li.videos-list__item(data-video="2")
                        video(muted loop src="./videos/multicamara_fila_4k11.mp4" class="videos-list__video" type="video/mp4")
                    li.videos-list__item(data-video="3")
                        video(muted loop src="./videos/rhapsody_final_alta.mp4" class="videos-list__video" type="video/mp4")
                    li.videos-list__item(data-video="4")
                        video(muted loop src="./videos/Louise7.mp4" class="videos-list__video" type="video/mp4")
                    li.videos-list__item(data-video="5")
                        video(muted loop src="./videos/jazonfive4.mp4" class="videos-list__video" type="video/mp4")
                    li.videos-list__item(data-video="6")
                        video(muted loop src="./videos/tap_media_pb.mp4" class="videos-list__video" type="video/mp4")
            //- button.button-up
        //- footer.footer
        script(src="./js/src/js/app.min.js")